        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    {% partial "bottom/about" %}
                </div>
                 
                <div class="col-sm-3">
                    {% partial "bottom/links" %}
                </div>

                <div class="col-sm-4 subscribe">
                    {% partial "bottom/socials" %}
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container-->    
    