                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ 'samples/rooms'|page }}">Rooms &amp; Tariffs</a></li>        
                        <li><a href="{{ 'samples/intro'|page }}">Introduction</a></li>
                        <li><a href="{{ 'samples/gallery'|page }}">Gallery</a></li>
                        <li><a href="{{ 'tour'|page }}">Tour Packages</a></li>
                        <li><a href="{{ 'samples/contact'|page }}">Contact</a></li>
                    </ul>
